.login-all {
  height: 310px;
  width: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px;
}
.title_pic {
  height: 60px;
  background: url("../images/login_title.png") no-repeat center center;
  /* background-color: pink; */
}
.layui-form-item {
  position: relative;
}
.layui-form-item i {
  position: absolute;
  top: 10px;
  left: 10px;
}
.layui-input {
  padding-left: 32px;
}
.link {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
}
.layui-reg {
  display: none;
}
